*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url('https://i.pinimg.com/736x/ad/a8/1d/ada81d0369d3fd37f934ffe6fb580578.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius:4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size:  22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius:5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a{
    color:white;
    text-decoration: none;
}

.form-register a:hover{
    color:white;
    text-decoration: underline;
}

.form-register .buttons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-register .buttons:hover{
   cursor: pointer;
   font-weight: bold;
   text-decoration: underline;
}